<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adrian.clienteacsoap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".busqueda_Grupos"
            android:label="@string/title_activity_busqueda__grupos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ver_Notificacion"
            android:label="@string/title_activity_ver__notificacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ver_Actividad"
            android:label="@string/title_activity_ver__actividad"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>